<% provide :page_title, "Регистрация в системе" %>

<h2 class="auth-heading text-center mb-4">Регистрация на itPortal</h2>					


<%= render 'form', user: resource %>

<%= render "devise/shared/links" %>
