<tr>
  <td class="cell text-center"><%= tag.small l note.date, format: "%d.%m.%Y" %></td>
  <td class="cell">
    <%= link_to note.noteble.name, [:accounting, note.noteble] %>:<br/>
    <%= tag.em note.text.empty? ? '[нет содержимого]' : note.text %>
  </td>
  <td class="cell text-end">
    <%= link_to bs_icon('trash'), [:accounting, note], method: :delete, data: { confirm: t(:confirm) } %>
  </td>
</tr>