<tr>
  <td class="cell text-center"><%= tag.small l note.date, format: "%d.%m.%Y" %></td>
  <td class="cell">
    <%= link_to "#{note.noteble&.name}:", [:accounting, note.noteble] %>
    <div class="fst-italic">
      <% if note.text.empty? %>
        <p class="m-0">[нет содержимого]</p>
      <% else %>
        <% note.text.lines.each do |line| %>
          <%= tag.p line, class: "m-0" %>
        <% end %>
      <% end %>
    </div>
  </td>
  <td class="cell text-end">
    <%= link_to bs_icon('pencil-square'), [:accounting, note] %>
  </td>
</tr>