<% provide :page_title, "Разблокировка E-mail адреса" %>

<h2 class="auth-heading text-center mb-4">Разблокировка E-mail адреса</h2>					


<%= render 'form', user: resource %>

<%= render "devise/shared/links" %>