<% provide :page_title, "Ответственное владение" %>

<%= page_title @possession.possessionable&.name, [:accounting, @possession.possessionable] %>

<div class="row justify-content-center mt-4">
  <div class="col-lg-6">
    <div class="app-card app-card-settings shadow-sm p-4">
      <div class="app-card-body">
        <h4 class="card-title mb-3 d-flex">
          <span>Редактирование ответственного хранения</span>
          <%= link_to bs_icon('trash'), [:accounting, @possession.possessionable, @possession], class: "ms-auto", data: { turbo_method: :delete, turbo_confirm: t(:confirm) } %>
        </h4>

        <%= render 'form', possession: @possession %>
      </div>
    </div>
  </div>
</div>