<li class="list-group-item">
  <div class="d-flex gap-2 align-items-center">
    <div>
      <%= bs_icon 'person' %>
    </div>

    <%= tag.div class: "flex-fill text-truncate px-2" do %>
      <%= render "user_item", user: user %>
    <% end %>

    <%# <div class="d-flex gap-2"> %>
      <%# <div class="float-end d-flex gap-2"> %>
        <%#= link_to [:edit, user], title: t('.edit_user') do %>
          <%#= bs_icon 'pencil-square' %>
        <%# end if policy(user).edit? %>
      <%# </div> %>
    <%# </div> %>
  </div>
</li>