<% provide :page_title, t('.user_edit') %>

<%= page_title t('.user_edit'), [:users] %>

<div class="row gy-4 justify-content-center">
	<div class="col-12 col-lg-6 d-flex flex-column gap-4">
    <%= card_tag t('.edit_user'), icon: "person"  do %>
      <%= render 'form', user: @user %>
    <% end %>
  </div>
</div>