<div class="row g-3 mb-4 align-items-center justify-content-between">
  <div class="col-auto">
    <h1 class="app-page-title mb-0">Список пользователей</h1>
  </div>
  <div class="col-auto">
    <div class="page-utilities">
      <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
        <div class="col-auto">
          <form class="table-search-form row gx-1 align-items-center">
            <div class="col-auto">
              <input type="text" id="search-orders" name="searchorders" class="form-control search-orders" placeholder="Быстрый фильтр">
            </div>
          </form>
        </div><!--//col-->

        <div class="col-auto">
          <select class="form-select w-auto" >
            <option selected value="option-1">Cтруктурное подразделение</option>
            <option value="option-2">This week</option>
            <option value="option-3">This month</option>
            <option value="option-4">Last 3 months</option>
          </select>
        </div>
      </div><!--//row-->
    </div><!--//table-utilities-->
  </div><!--//col-auto-->
</div><!--//row-->

<%#= datatable_tag @users, columns: [:name] %>

<% @users.each do |user| %>
<p><%= user.name %></p>
<% end %>