<%= render "shared/errors", model: user %>

<%= form_with model: user, url: [user, :password], class: "auth-form auth-signup-form" do |f| %>
  <div class="mb-3">
    <%= f.email_field :email, class: "form-control", placeholder: t('activerecord.attributes.user..email'), autofocus: true, autocomplete: "email" %>
  </div>

  <div class="form-actions text-center">
    <%= f.submit "Выслать инструкцию сброса пароля", class: "btn app-btn-primary w-100 theme-btn mx-auto" %>
  </div>
<% end %>