<% model ||= nil %>
<% errors ||= model&.errors %>
<% if errors&.any? %>
  <small>
    <div class="alert alert-danger ">
      <ul class="mb-0">
        <% errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  </small>
<% end %>