<% param ||= 'tabs' %>
<% except = (except || [:page]) << param.to_sym %>
<% first_value = (name, val = items.first) && (val || name) %>
<% query = request.query_parameters.except(except) || {} %>
<% current_param = request.query_parameters.has_key?(param) && request.query_parameters[param] || first_value %>

<nav class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-1">
  <% items.each do |name, val| %>
    <% link = url_for(query.merge(param => (val || name))) %>
    <% active = current_param == (val || name) ? ' active' : '' %>
    <%= link_to t(".#{name}"), link, class: "flex-sm-fill text-sm-center nav-link#{active}" %>
  <% end %>
</nav>