<% param ||= 'tab' %>
<% default_param ||= nil %>
<% except = (except || ['page']) << param.to_s %>
<% query = request.query_parameters.except(*except) || {} %>
<% value ||= lambda {|item| item} %>
<% first_value = value.call(items.first) %>
<% current_param = request.query_parameters.has_key?(param) && request.query_parameters[param] || default_param || first_value %>
<% url ||= lambda {|item| url_for(query.merge(param => value.call(item)))} %>
<% active ||= lambda {|item| current_param == value.call(item)} %>

<nav class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-1">
  <% items.each do |item| %>
    <% link = url.call(item) %>
    <% active_class = active.call(item) ? ' active' : '' %>
    <%= link_to t(".#{item}"), link, class: "flex-sm-fill text-sm-center nav-link#{active_class}" %>
  <% end %>
</nav>