<% param ||= 'tabs' %>
<% default_param ||= nil %>
<% except = (except || ['page']) << param.to_s %>
<% first_value = (name, val = items.first) && (val || name) %>
<% query = request.query_parameters.except(*except) || {} %>
<% current_param = request.query_parameters.has_key?(param) && request.query_parameters[param] || default_param || first_value %>
<% url ||= lambda {|name, val| url_for(query.merge(param => (val || name)))} %>
<% active ||= lambda {|name, val| current_param == (val || name)} %>

<nav class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-1">
  <% items.each do |name, val| %>
    <% link = url.call(name, val) %>
    <% active_class = active.call(name, val) ? ' active' : '' %>
    <%= link_to t(".#{name}"), link, class: "flex-sm-fill text-sm-center nav-link#{active_class}" %>
  <% end %>
</nav>