<% if flash.any? %>
  <% notify = flash.to_h.except('timedout') %>
  <small>
    <div class="alert alert-warning">
      <% if notify.count == 1 %>
        <%= notify.first.last %>
      <% else %>
        <ul class="mb-0">
          <% notify.each do |type, msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </small>
<% end %>