<% provide :page_title, "Справочник [метериально-ответственные лица]" %>

<div class="tab-content">
  <div class="tab-pane fade show active">
    <div class="app-card app-card-orders-table shadow-sm mb-5">
      <div class="app-card-body">
        <ul class="list-group list-group-flush">
          <%= render @mols %>
        </ul>
      </div><!--//app-card-body-->		
    </div><!--//app-card-->

    <%= render partial: "shared/paginate", locals: { items: @mols, link: lambda {|q| directories_mols_path(q)} } %>
  </div><!--//tab-pane-->
</div><!--//tab-content-->