<%= page_title @material.name, accounting_material_path(@material) %>

<div class="row justify-content-center mt-4">
    <div class="col-lg-6">
      <div class="app-card app-card-settings shadow-sm p-4">
        <div class="app-card-body">
          <h4 class="card-title mb-3">Редактирование</h4>

          <%= render 'form', material: @material %>
        </div>
      </div>
    </div>
  </div>
</div>