<% query = request.query_parameters.except(:q, :page) %>

<%= form_with method: :get, class: "table-search-form row gx-1 align-items-center flex-fill" do |f| %>
  <% query.each do |scope, value| %>
    <%= f.hidden_field scope, value: value %>
  <% end %>

  <div class="d-flex flex-row gap-1">
    <%= f.text_field :q, value: params[:q], class: "form-control search-orders", placeholder: "Поиск" %>
    <button type="submit" class="btn btn-outline-secondary">Искать</button>
  </div>
<% end %>