<div class="row justify-content-center mt-4">
  <div class="col-lg-6">
    <div class="app-card app-card-settings shadow-sm p-4">
      <div class="app-card-body">
        <h4 class="card-title mb-3 d-flex">
          <span>Редактирование помещения</span>
          <%= link_to bs_icon('trash'), [:directories, @location, @room], class: "ms-auto", method: :delete, data: { confirm: t(:confirm) } %>
        </h4>

        <%= render 'form', room: @room %>
      </div>
    </div>
  </div>
</div>