<% provide :page_title, t('.page_title') %>

<%= page_title t('.user_email'), [:profile] %>

<div class="row justify-content-center mt-4">
  <div class="col-lg-6">
    <div class="app-card app-card-settings shadow-sm p-4">
      <div class="app-card-body">
        <h4 class="card-title mb-3 d-flex">
          <%= tag.span t('.edit_email') %>
        </h4>

        <%= render 'form', user: @user %>
      </div>
    </div>
  </div>
</div>