<% provide :page_title, t('.user_password') %>

<%= page_title t('.user_password'), [@user] %>



<div class="row gy-4 justify-content-center">
	<div class="col-12 col-lg-6 d-flex flex-column gap-4">
    <%= card_tag t('.edit_password') do %>
      <%= render 'form', user: @user %>
    <% end %>
	</div>
</div>