:root {
  --bs-blue:  #0d6efd;
  --bs-indigo:  #6610f2;
  --bs-purple:  #6f42c1;
  --bs-pink:  #d63384;
  --bs-red:  #dc3545;
  --bs-orange:  #fd7e14;
  --bs-yellow:  #ffc107;
  --bs-green:  #198754;
  --bs-teal:  #20c997;
  --bs-cyan:  #0dcaf0;
  --bs-white:  #fff;
  --bs-gray:  #6c757d;
  --bs-gray-dark:  #343a40;
  --bs-primary:  #15a362;
  --bs-secondary:  #5d6778;
  --bs-success:  #5cb377;
  --bs-danger:  #d26d69;
  --bs-warning:  #EEBF41;
  --bs-info:  #5b99ea;
  --bs-font-sans-serif:  system-ui,  -apple-system,  "Segoe UI",  Roboto,  "Helvetica Neue",  Arial,  "Noto Sans",  "Liberation Sans",  sans-serif,  "Apple Color Emoji",  "Segoe UI Emoji",  "Segoe UI Symbol",  "Noto Color Emoji";
  --bs-font-monospace:  SFMono-Regular,  Menlo,  Monaco,  Consolas,  "Liberation Mono",  "Courier New",  monospace;
  --bs-gradient:  linear-gradient(180deg,  rgba(255,  255,  255,  0.15),  rgba(255,  255,  255,  0));
  --bs-link-color: #15a362;
  --bs-link-color-rgb: 21, 163, 98;
  --bs-link-hover-color: #198754;
  --bs-link-hover-color-rgb: 25, 135, 84;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #38b17a;
  --bs-btn-hover-border-color: #2cac72;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #10814d;
  --bs-btn-active-border-color: #10814d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--bs-primary);
  --bs-btn-disabled-border-color: var(--bs-primary);
}

.btn-outline-primary {
  --bs-btn-color: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color: var(--bs-primary);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--bs-primary);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--bs-primary);
  --bs-gradient: none;
}

.btn-outline-secondary {
  --bs-btn-color: #5d6778;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #bcc1cb;
  --bs-btn-hover-color: var(--bs-primary);
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: var(--bs-primary);
  --bs-btn-active-bg: var(--bs-gradient);
  --bs-btn-active-border-color: var(--bs-primary);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #fff;
  --bs-btn-disabled-border-color: #fff;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: var(--bs-primary);
}

.pagination {
  --bs-pagination-focus-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.turbo-progress-bar {
  height: 5px;
  background-color: var(--bs-primary);
}

a {
  text-decoration: none;
}

th {
  text-transform: uppercase;
}

svg:not(:host).svg-inline--fa, svg:not(:root).svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
}

.svg-inline--fa {
  display: var(--fa-display,inline-block);
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.dropdown-toggle.no-toggle-arrow:after {
  display: none !important;
}


.field_with_errors {
  .form-control {
    border-color: $red;
  }
  label {
    color: $red;
  }
}