:root {
  --bs-blue:  #0d6efd;
  --bs-indigo:  #6610f2;
  --bs-purple:  #6f42c1;
  --bs-pink:  #d63384;
  --bs-red:  #dc3545;
  --bs-orange:  #fd7e14;
  --bs-yellow:  #ffc107;
  --bs-green:  #198754;
  --bs-teal:  #20c997;
  --bs-cyan:  #0dcaf0;
  --bs-white:  #fff;
  --bs-gray:  #6c757d;
  --bs-gray-dark:  #343a40;
  --bs-primary:  #15a362;
  --bs-secondary:  #5d6778;
  --bs-success:  #5cb377;
  --bs-danger:  #d26d69;
  --bs-warning:  #EEBF41;
  --bs-info:  #5b99ea;
  --bs-font-sans-serif:  system-ui,  -apple-system,  "Segoe UI",  Roboto,  "Helvetica Neue",  Arial,  "Noto Sans",  "Liberation Sans",  sans-serif,  "Apple Color Emoji",  "Segoe UI Emoji",  "Segoe UI Symbol",  "Noto Color Emoji";
  --bs-font-monospace:  SFMono-Regular,  Menlo,  Monaco,  Consolas,  "Liberation Mono",  "Courier New",  monospace;
  --bs-gradient:  linear-gradient(180deg,  rgba(255,  255,  255,  0.15),  rgba(255,  255,  255,  0));
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: var(--bs-success);
}

.pagination {
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
}

a, .btn-link {
  color: #15a362;
  text-decoration: none;
}
a:hover, .btn-link:hover {
  color: #128c54;
}

.form-control:focus, .was-validated .form-control:valid:focus, .form-control.is-valid:focus, .form-select:focus, .focus .ts-control  {
  border-color: #198754;
  box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
}

.btn-primary {
  background-color: #15a362;
  border-color: #15a362;
}
.btn-primary:hover {
  background-color: #38b17a;
  border-color: #2cac72;
}

th {
  text-transform: uppercase;
}

svg:not(:host).svg-inline--fa, svg:not(:root).svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
}

.svg-inline--fa {
  display: var(--fa-display,inline-block);
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.dropdown-toggle.no-toggle-arrow:after {
  display: none !important;
}

.btn-primary {
  --bs-btn-active-bg: #10814d;
  --bs-btn-active-border-color: #10814d;
  --bs-btn-hover-bg: #10814d;
  --bs-btn-hover-border-color: #128c54;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
}

.turbo-progress-bar {
  height: 5px;
  background-color: #15a362;
}

.field_with_errors {
  .form-control {
    border-color: $red;
  }
  label {
    color: $red;
  }
}