.treeview {
  ol {
    list-style-type: none;
    padding-left: 30px;
    position: relative;

    li {
      position: relative;
    }
  }

  >ol {
    padding-left: 0;
    margin: 0;
  }

  li>div {
    padding: 0.75rem;
    vertical-align: top;
    position: relative;
    z-index: 2;
    
    &:hover {
      background-color: rgba(0, 0, 0, 0.075);
    }
  }

  ol:before {
    content: "";
    position: absolute;
    width: 1px;
    border: 1px solid gray;
    left: 19px;
    top: 0;
    bottom: 0;
  }

  li:before {
    content: "";
    position: absolute;
    width: 1px;
    border: 1px solid gray;
    left: -11px;
    top: 0;
    bottom: 0;
  }

  li:last-child:before,
  li:has(+ li.ui-sortable-helper:last-child):before {
    content: "";
    position: absolute;
    width: 1px;
    border: 1px solid gray;
    left: -11px;
    top: 0;
    height: 24px;
  }

  li:after {
    content: "";
    position: absolute;
    top: 23px;
    left: -11px;
    width: 12px;
    height: 1px;
    border: 1px solid gray;
  }
  
  li.ui-sortable-placeholder {
    padding: 0;
    margin: 0;
    visibility: visible !important;
    float: none;
    background-color: rgba(0, 0, 0, 0.075);
  }
  
  li.ui-sortable-helper {
    background-color: rgba(255, 255, 255, 0.75);
  }
  
  ol:last-child:before,
  >ol:before,
  >ol>li:after,
  >ol>li:before,
  li.ui-sortable-helper:before,
  li.ui-sortable-helper:after {
    border: none !important;
  }
}