<p>Здравствуйте <%= @resource.employee&.name %>!</p>

<p>Ваша учетная запись была заблокирована из-за слишком большого количества неудачных попыток входа.</p>

<p>Нажмите на ссылку ниже, чтобы разблокировать свою учетную запись:</p>

<p><%= link_to 'Разблокировать мой аккаунт', [:user, :unlock, unlock_token: @token] %></p>
