<% text = text || yield %>

<%= tag.button text, type: "button", class: "btn app-btn-primary", data: { 'bs-target': "#add_edit_asset", 'bs-toggle': "modal" } %>

<div id="add_edit_asset" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
          <%= tag.h5 title, class: "modal-title", id: "staticBackdropLabel" %>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <%= render partial: "form", locals: { asset: model || Asset.new } %>
        </div>
      </div>
    </div>
  </div>
</div>