<% provide :page_title, "Основные средства" %>

<%= page_title @asset.name, @back_url %>

<div class="row justify-content-center mt-4">
  <div class="col-lg-6">
    <div class="app-card app-card-settings shadow-sm p-4">
      <div class="app-card-body">
        <h4 class="card-title mb-3 d-flex">
          <span>Редактирование основного средства</span>
          <%= link_to bs_icon('trash'), [:accounting, @asset], class: "ms-auto", method: :delete, data: { confirm: t(:confirm) } unless @asset.code.present? %>
        </h4>

        <%= render 'form', asset: @asset %>
      </div>
    </div>
  </div>
</div>