<% provide :page_title, "Основные средства" %>

<%= page_title @accounting.name, [:accounting, @accounting] %>

<div class="row justify-content-center mt-4">
  <div class="col-lg-6">
    <div class="app-card app-card-settings shadow-sm p-4">
      <div class="app-card-body">
        <h4 class="card-title mb-3 d-flex">
          <span>Редактирование основного средства</span>
          <%= link_to bs_icon('trash'), [:accounting, @accounting], class: "ms-auto", turbo_method: :delete, data: { turbo_confirm: t('global.confirm') } unless @accounting.code.present? %>
        </h4>

        <%= render 'form', asset: @accounting %>
      </div>
    </div>
  </div>
</div>