<% css_class ||= "app-footer" %>
<footer class="<%= css_class %>">
  <div class="container text-center py-3">
    <small class="copyright">
      <%= t('.design') %>
      <%= bs_icon "c-square", nil, style: "color: #fb866a" %>
      <%= t('.from') %>
       <a class="app-link" href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a>
    </small>
  </div>
</footer>