<div class="app-utility-item app-user-dropdown dropdown">
  <a class="dropdown-toggle" id="user-dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
    <%= image_tag "user.png", alt: "user profile" %>
  </a>

  <ul class="dropdown-menu" aria-labelledby="user-dropdown-toggle">
    <li><a class="dropdown-item" href="account.html">Аккаунт</a></li>
    <li><a class="dropdown-item" href="settings.html">Настройки</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><%= link_to "Выход", [:destroy, :user, :session], class: "dropdown-item", data: {turbo_method: :delete} %></li>
  </ul>
</div><!--//app-user-dropdown--> 