<% return unless current_user %>
<div class="app-utility-item app-user-dropdown dropdown">
  <a class="dropdown-toggle" id="user-dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
    <% image =  current_user.employee&.images&.last %>
    <%= image_tag rails_storage_proxy_path(image.variant(:icon)), class: "rounded-circle", style: "max-width: inherit", alt: "user profile" if image %>
  </a>

  <ul class="dropdown-menu" aria-labelledby="user-dropdown-toggle">
    <li><%= link_to t('.profile'), [:profile], class: "dropdown-item" %></li>
    <%# <li><a class="dropdown-item" href="settings.html">Настройки</a></li> %>
    <li><hr class="dropdown-divider"></li>
    <li><%= link_to t('.exit'), [:destroy, :user, :session], class: "dropdown-item", data: {turbo_method: :delete} %></li>
  </ul>
</div><!--//app-user-dropdown--> 