<%= page_title t '.title' do %>
  <%= yield :title %>
<% end %>

<nav class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-1">
  <% @tabs.each do |tab| %>
    <%= link_to t(".#{tab}"), [:directories, tab], class: "flex-sm-fill text-sm-center nav-link#{' active' if controller_name == tab.to_s}" %>
  <% end %>
</nav>

<%= yield %>

<% parent_layout :application %>