<!DOCTYPE html>
<html>
  <head>
    <title>Stickers</title>
    <meta charset='utf-8' />
    <%= stylesheet_link_tag wicked_pdf_asset_base64('sticker') %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>